body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.outerBox {
    width: 760px;
    display: flex;
    justify-content: center;
}

/*Header CSS*/
#HeaderImageDiv {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-content: center;
}

#HeaderLogo{
    width: 145px;
    object-fit: contain;
}