/*------------ Base CSS ------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
}

.outerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBox {
    width: 760px;
}
.padding20px {
    padding: 20px 0;
}
.bottomPadding20px {
    padding-bottom: 20px;
}
.topPadding20px {
    padding-top: 20px;
}
.bottomPadding10px {
    padding-bottom: 10px;
}
.topPadding10px {
    padding-top: 10px;
}
.bgWhite {
    background: #fff;
}
.fontDarkGray {
    color: #515357;
}
.fontLightGray {
    color: #808080;
}
.fontXXXL {
    font-size: 36px;
}
.fontL {
    font-size: 14px;
}
.fontXL {
    font-size: 16px;
}
.fontWeight600 {
    font-weight: 600;
}
.bgDarkGray {
    background: #F9F9F9;
}
.button {
    background: #EBECF0;
    color: #515357;
    height: 40px;
    width: 230px;
}
.paddingTopBottom5px {
    padding-top: 5px;
    padding-bottom: 5px;
}
.MarginTop20px {
    margin-top: 20px;
}
.asteriskRed {
    color: #FF794F;
}
.inputMenu {
    display: flex;
    width: 100%;
    align-items: center;
}
.inputMenuSmall {
    width: 30%;
}
.inputMenuLarger {
    width: 70%;
}
.sidePadding5px {
    padding-left: 5px;
}
.sidePadding10px {
    padding-left: 10px;
}
.inputForm {
    height: 40px;
}
/*------------ Header CSS ------------*/
#image1 {
    width: 145px;
    padding: 17.5px 0 0 0;
}
#submitTitle {
    padding: 40px 0;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EBECF0;
    color: #515357;
    height: 40px;
    width: 230px;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-file-upload:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #515357;
    color: #EBECF0;
    height: 40px;
    width: 230px;
}

#file-upload {
    display: none;
}

.checkBox {
    display: flex;
}

.checkBoxItem {
    width: 33%;
    margin: 17.5px 0px;
    display: flex;
}
.check {
    margin: 2px;
    padding: 2px;
    width: 40px;
}


 /*------------ font ------------*/
 .lato-thin {
     font-family: "Lato", sans-serif;
     font-weight: 100;
     font-style: normal;
 }

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}